@model ProductionPlanner.Models.ProductionPlan
@{
    ViewData["Title"] = "Perataan Produksi";
}
<h2>Input Rencana Produksi (Senin - Jumat)</h2>

<form asp-action="Result" method="post">
    <label>Senin</label><input asp-for="Senin" /><br />
    <label>Selasa</label><input asp-for="Selasa" /><br />
    <label>Rabu</label><input asp-for="Rabu" /><br />
    <label>Kamis</label><input asp-for="Kamis" /><br />
    <label>Jumat</label><input asp-for="Jumat" /><br />
    <button type="submit">Proses</button>
</form>
